jeu-societe/.vs
Jeu-societe/AProject/x64
Jeu-societe/x64/Debug/XBPlato.pdb
/Jeu-societe/.vs/XBPlato/v17/.suo
/Jeu-societe/.vs/XBPlato/v17/Browse.VC.db
Jeu-societe/x64/Debug/XBPlato.pdb
Jeu-societe/.vs/XBPlato/v17/DocumentLayout.backup.json
Jeu-societe/.vs/XBPlato/v17/DocumentLayout.json
Jeu-societe/.vs/XBPlato/v17/Browse.VC.db
Jeu-societe/.vs/XBPlato/v17/.suo
